<!DOCTYPE html>
<html>
    <head>
      <title>About</title>
            <link rel="icon" href="/img/icon.png" />

        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>
      <div class="main-content">
      {{>header}}
        <img class="portrait" src="/img/profile.jpg">
        <p class="about-me"> Bonjour! I am a Javascript Developer with Strong NodeJS skills.</p>
      </div>
    
    
          {{>footer}}
    </body>
</html>